.Leftbar_wrapper{
    position: relative;
}

.Leftbar_opacity{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 12;
  transition: all .3s ease-out;
}

.Leftbar{
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 280px;
  background-color: var(--main-bg);
  box-shadow: -14.142px 14.142px 20px 0px rgba(0, 0, 0, 0.1);
  transform: translateX(-400px);
  z-index: 1002;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* padding: 15px ; */
  transition: all .3s ease-out;
}

.Leftbar_active{
  transform: translateX(0);
}

.Leftbar_top_cart{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  border-bottom: 1px solid var(--dark7);
}

.Leftbar_top_cart h3{
  font-size: var(--font-sm);
  color: var(--yellow);
  font-weight: 600;
}

.Leftbar_top_cart .icon{
  font-size: var(--font-s);
  color: var(--dark1);
}

.Leftbar_top_cart .icon:hover{
  color: var(--dark4);
}

.Leftbar_bottom{
  border-top: 1px solid var(--dark7);
}

.Leftbar_bottom-pricing{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
}

.Leftbar_bottom-pricing h3{
  font-size: var(--font-s);
  font-weight: 500;
}

.Leftbar_bottom-pricing p{
  font-size: var(--font-m);
  color: var(--yellow);
  font-weight: 500;
}

.Leftbar_bottom-buttons{
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 15px;
}

.Leftbar_bottom-buttons button{
  font-size: var(--font-xxs);
  font-weight: 600;
  padding: 15px;
  border-radius: 6px;
  /* background-color: red; */
}

.Leftbar_bottom-white-btn{
  background-color: var(--dark8);
}

.Leftbar_bottom-black-btn{
  background-color: var(--dark0);
  color: var(--white);
}

.Leftbar-categories{
    padding: 15px;
}

.Leftbar_bottom-img{
    opacity: .5;
    text-align: center;
    padding-top: 20px;
}