.UpdatePassword h3{
    font-size: var(--font-s);
    font-weight: 500;
    margin-bottom: 20px;
}

.UpdatePassword-password {
    position: relative;
}

.UpdatePassword-eye .icon{
    position: absolute;
    top: 33px;
    right: 10px;
    font-size: var(--font-s);
}

.SideBarLogin-body p{
    color: var(--dark1);
    font-weight: 300;
    margin-bottom: 6px;
}

.UpdateProfile h3{
    font-size: var(--font-s);
    font-weight: 500;
    margin-bottom: 20px;
   
}

.UpdatePassword input{
    width: 100%;
    padding: 0 15px;
    height: 37px;
    border: 1px solid var(--dark7);
    color: var(--dark0);
    font-size: var(--font-xs);
    border-radius: 4px;
    font-family: var(--body-font);
    font-weight: 300;
    margin-bottom: 20px;
}

.UpdatePassword input:focus{
    outline: none;
}

.UpdatePassword button{
    width: 100%;
    font-size: var(--font-xxs);
    font-weight: 600;
    padding: 15px;
    border-radius: 6px;
    background-color: var(--dark0);
    color: var(--white);
}

.UpdatePassword button:hover{
    background-color: var(--yellow);
}

@media screen and (min-width: 1025px) {
    .UpdatePassword{
        max-width: 500px;
        margin: 0 auto;
    }
}