.PriceRangeSlider{
  margin-top: 5px;
}
.PriceRangeSlider-range-slider {
    width: 260px;
    text-align: center;
    position: relative;
    /* padding-bottom: 20px; */
}

.PriceRangeSlider-rangeValues {
  display: block;
  padding-bottom: 6px;
/*
  box-shadow: 0 0 20px rgba(0,139,253,0.25);
  padding: 20px;
  font-size: 22px;
  margin-bottom: 35px; */
  /* padding: 20px; */
  /* transform: translateY(40px); */
}

.PriceRangeSlider-range-slider input[type=range] {
  -webkit-appearance: none;
  border: 1px solid white;
  width: 260px;
  position: absolute;
  left: 0;
}

.PriceRangeSlider-range-slider input[type=range]::-webkit-slider-runnable-track {
  width: 300px;
  height: 5px;
  background: #ddd;
  border: none;
  border-radius: 3px;
}

.PriceRangeSlider-range-slider input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: none;
  height: 18px;
  width: 18px;
  border-radius: 50%;
  background: var(--yellow);
  margin-top: -6px;
  cursor: pointer;
  position: relative;
  z-index: 1;
}

.PriceRangeSlider-range-slider input[type=range]:focus {
  outline: none;
}

.PriceRangeSlider-range-slider input[type=range]:focus::-webkit-slider-runnable-track {
  background: #ccc;
}


/*The following CSS code is not necessary for everyone*/
/*The following CSS code is not necessary for everyone*/
/*The following CSS code is not necessary for everyone*/
/*The following CSS code is not necessary for everyone*/
/*The following CSS code is not necessary for everyone*/
/* 
input[type=range]::-moz-range-track {
  width: 300px;
  height: 5px;
  background: #ddd;
  border: none;
  border-radius: 3px;
}

input[type=range]::-moz-range-thumb {
  border: none;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background: #21c1ff;
} */

/*hide the outline behind the border*/
/* input[type=range]:-moz-focusring {
  outline: 1px solid white;
  outline-offset: -1px;
} */

/* input[type=range]::-ms-track {
  width: 300px;
  height: 5px;
  background: transparent;
  border-color: transparent;
  border-width: 6px 0;
  color: transparent;
  z-index: -4;
} */
/* 
input[type=range]::-ms-fill-lower {
  background: #777;
  border-radius: 10px;
}

input[type=range]::-ms-fill-upper {
  background: #ddd;
  border-radius: 10px;
}

input[type=range]::-ms-thumb {
  border: none;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background: #21c1ff;
}

input[type=range]:focus::-ms-fill-lower {
  background: #888;
}

input[type=range]:focus::-ms-fill-upper {
  background: #ccc;
} */