.Reviews {
  min-height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.Reviews p {
  color: var(--dark5);
}

.Review {
  background-color: white;
}

.Review-header{
    padding: 20px 0;
}

.Review-header-info {
  /* background-color: red; */
  /* margin: 0 auto; */
  text-align: center;
}

.Review-header-bar{
    flex: .4;
}

.Review-header-info h1{
    font-size: var(--font-xxl);
    font-weight: 600;
}

.Review-stars span{
    /* color: red; */
    font-size: var(--font-m);
}

.Review-header-info p{
    color: var(--dark4);
}

.Review-header-bar {
  /* background-color: green; */
}

.Review-content {
  /* background-color: yellow; */
  display: flex;
  flex-wrap: wrap;
  max-height: 500px;
  overflow: auto;
}

.Review-container {
  margin: 10px 0;
  flex: 1 1 100%;
  border: 1px solid var(--yellow);
  border-radius: 6px;
  padding: 20px;
}

.Review-top-content{
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.Review-user{
  display: flex;
  align-items: center;
  gap: 10px;
}

.Review-time p{
  font-size: var(--font-xxs);
  color: var(--dark4);
}

.Review-bottom-content p{
  color: var(--dark4);
}

@media screen and (min-width: 1025px) {
  .Review-header {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
  }

  .Review-container {
    flex: 1 1 40%;
    margin: 20px 10px;
  }
}

