.Navbar-wrapper{
    position: sticky;
    top: 0;
    z-index: 10;
}

.Navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid var(--yellow);
    background-color: var(--main-bg);
    padding: 6px 16px;
}

.Navbar-cart{
    position: relative;
    cursor: pointer;
}

.Navbar-cart-items{
    display: flex;
    align-items: center;
    gap: 20px;
}

.Navbar-cart span{
    position: absolute;
    top: -3px;
    right: -6px;
    background-color: var(--yellow);
    padding: 1px 6px;
    border-radius: 50%;
    font-size: 9px;
    color: var(--white);
    font-weight: 600;
}

.Navbar-categories-container{
    position: relative;
}

.Navbar-categories {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: red;
}

.Navbar-categories-category{
    position: absolute;
    background-color: var(--main-bg);
    border-radius: 6px;
    width: 500px;
    top: 30px;
    left: -200px;
    opacity: 0;
    visibility: hidden;
    padding-top: 20px;
    border-radius: 0 0 8px 6px;
    box-shadow: 2px 6px 23px 5px rgba(0,0,0,0.25);
    -webkit-box-shadow: 2px 6px 23px 5px rgba(0,0,0,0.25);
    -moz-box-shadow: 2px 6px 23px 5px rgba(0,0,0,0.25);
    transform: translateY(20px);
    transition: all .3s;
}

.Navbar-categories-container:hover .Navbar-categories-category{
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}

.Navbar-categories .icon,.Navbar-categories p{
    color: var(--yellow);
    transition: all .3s cubic-bezier(0.39, 0.575, 0.565, 1);
}

.Navbar-categories:hover .icon,.Navbar-categories:hover p{
    color: var(--yellow);
    transform: translateY(-7px);
}

.Navbar-search {
    position: relative;
    padding: 6px 15px;
    border-bottom: 1px solid var(--dark7);
    border-top: 1px solid var(--dark7);
    background-color: var(--main-bg);
}

.Navbar-search .pos{
    position: absolute;
    top: 14px;
    right: 20px;
}

.Navbar-search input{
    width: 100%;
    padding: 0 15px;
    height: 42px;
    border: 1px solid var(--white);
    color: var(--dark0);
    font-size: var(--font-xs);
    border-radius: 6px;
    font-family: var(--body-font);
    font-weight: 300;
    box-shadow: 0 0 0 2px rgba(209, 225, 66, 0.3); /* Highlight outer border on focus */

}

.Navbar-search input:focus{
    outline: none;
}



.Navbar-search-icon{
    position: absolute;
    top: 7px;
    border-radius: 0 6px 6px 0;
    right: 16px;
    background-color: var(--yellow);
    height: 40px;
    width: 40px;
    padding: 7px;
    font-size: var(--font-xs);
}

.Navbar-search-icon .icon{
    animation: moveCircle 4s linear infinite;
    color: var(--white);
}

@keyframes moveCircle {
    0% {
        transform: translate(0, 0);
    }
    25% {
        transform: translate(2px, 2px);
    }
    50% {
        transform: translate(0, 0);
    }
    75% {
        transform: translate(-2px, 2px);
    }
    100% {
        transform: translate(0, 0);
    }
}


.Navbar-search .Navbar-search-item-list{
    position: absolute;
    top: 50px;
    left: 0;
    width: 100%;
    padding:  0 15px;
    visibility: hidden;
    opacity: 0;
    transition: all .3s;
}

/* .Navbar-search input:focus + .Navbar-search-item-list {
    display: block;
} */

.Navbar-phone{
    display: flex;
    gap: 5px;
    align-items: center;
}

.Navbar-phone p{
    font-size: var(--font-s);
}

.pc{
    display: none;
}

.Navbar-user-wrapper{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
    cursor: pointer;
}

.Navbar-user-img{
    border-radius: 50%;
}

.Navbar-dropdown{
    position: absolute;
    top: 38px;
    right: 0;
    width: 210px;
    background-color: var(--white);
    box-shadow: 2px 6px 23px 5px rgba(0,0,0,0.25);
    -webkit-box-shadow: 2px 6px 23px 5px rgba(0,0,0,0.25);
    -moz-box-shadow: 2px 6px 23px 5px rgba(0,0,0,0.25);
    border-radius: 6px;
    visibility: hidden;
    opacity: 0;
    transform: translateY(18px);
    transition: all .5s cubic-bezier(0.075, 0.82, 0.165, 1);
    z-index: 9999999;
    border-left: 1px solid var(--white);
}

.Navbar-user-wrapper:hover .Navbar-dropdown{
    transform: translateY(0);
    opacity: 1;
    visibility: visible;
}

.Navbar-user-wrapper:hover{
   filter: drop-shadow(10px);
}

.Navbar-square{
    position: absolute;
    top: -5px;
    right: 10px;
    height: 15px;
    width: 15px;
    background-color: var(--white);
    rotate: 45deg;
}

.Navbar-user-wrapper p{
    font-weight: 500;
    color: var(--dark4);
}



@media screen and (min-width: 1025px) {
    .Navbar{
        padding: 6px 0;
    }
    .Navbar-menu{
        display: none;
    }
    .pc{
        display: flex;
    }
    .mbl{
        display: none;
    }
    .Navbar-search {
        border: none;
    }
    .Navbar-wrapper{
        max-width: var(--breakpoint-xxl);
        width: 100%;
        padding-right: 15px;
        padding-left: 15px;
        margin-right: auto;
        margin-left: auto;
    }
    .Navbar-search input{
        min-width: 500px
    }
  }