.ProductFilter-body{
    padding: 15px;
}

.ProductFilter-body h1{
    font-size: var(--font-sm);
    font-weight: 600;
    margin-bottom: 25px;
}

.ProductFilter-body h2{
    font-size: var(--font-s);
    font-weight: 600;
    margin-top: 35px;
}

.ProductFilter-categories{
    padding-bottom: 20px;
    border-bottom: 1px solid var(--dark7);
}

.ProductFilter-filter{
    margin-top: 20px;
}

.ProductFilter-items{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 4px;
    cursor: pointer;
}

.ProductFilter-items:hover{
    /* text-decoration: underline; */
}

.ProductFilter-checkboxes label{
    display: flex;
    /* align-items: center; */
     gap: 4px;
     cursor: pointer;
}


.ProductFilter-items p{
    color: var(--dark4);
}

.ProductFilter-items-colors{
    display: flex;
    align-items: center;
    gap: 6px;
}

.ProductFilter-checkboxes label{
    color: var(--dark4);
}

.ProductFilter-items-color-box{
    background-color: red;
    height: 30px;
    width: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;

    font-weight: 700;
    color: var(--yellow);
}

.selected-category p{
    font-weight: 600;
    color: var(--yellow);
}

@media screen and (min-width: 1025px) {
    .ProductFilter-body{
        padding: 0px;
    }
}