

.UniqueProducts-wrapper{
    display: flex;
    justify-content: space-between;
}

.UniqueProducts-links{
    display: flex;
    width: 100%;
    gap: 20px;
    border-bottom: 1px solid var(--dark7);
}

.UniqueProducts-links p{
    font-size: var(--font-m);
    cursor: pointer;
    padding-bottom: 10px; 
}

