.Sidebar_wrapper{
    position: relative;
}

.Sidebar_opacity{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 12;
  transition: all .3s ease-out;
}

.Sidebar{
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 310px;
  background-color: #fff;
  box-shadow: -14.142px 14.142px 20px 0px rgba(0, 0, 0, 0.1);
  transform: translateX(400px);
  z-index: 1002;
  /* overflow: auto; */

  /* display: flex; */
  /* flex-direction: column; */
  /* justify-content: space-between; */
  /* padding: 15px ; */
  transition: all .3s ease-out;
}

.Sidebar_active{
  transform: translateX(0);
}

.Sidebar_top{
  height: 65vh;
  overflow: auto;
}


.Sidebar_top_cart{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  border-bottom: 1px solid var(--dark7);
}

.Sidebar_top_cart h3{
  font-size: var(--font-sm);
  color: var(--dark1);
  font-weight: 300;
}

.Sidebar_top_cart .icon{
  font-size: var(--font-s);
  color: var(--dark1);
}

.Sidebar_top_cart .icon:hover{
  color: var(--dark4);
}

.Sidebar_top_cart-container{
  height: 400px;
  width: 100%;
  overflow: auto;
  background-color: red;
}


.Sidebar_bottom{
  /* border-top: 1px solid var(--dark7); */
  position: absolute;
  bottom: 0;
  width: 100%;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.Sidebar_bottom-pricing{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
}

.Sidebar_bottom-pricing h3{
  font-size: var(--font-s);
  font-weight: 500;
}

.Sidebar_bottom-pricing p{
  font-size: var(--font-m);
  color: var(--yellow);
  font-weight: 500;
}

.Sidebar_bottom-buttons{
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 15px;
}

.Sidebar_bottom-buttons button{
  font-size: var(--font-xxs);
  font-weight: 600;
  padding: 15px;
  border-radius: 6px;
  /* background-color: red; */
}

.Sidebar_bottom-white-btn{
  background-color: var(--dark8);
}

.Sidebar_bottom-black-btn{
  background-color: var(--dark0);
  color: var(--white);
}

.Sidebar-no-item{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 6px;
  min-height: 60vh;
}


.Sidebar-no-item img{
opacity: .5;
}