
.ForgotPassword_bg{
    min-height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ForgotPassword{
    max-width: 960px;
    min-height: 80vh;
    margin: 0 auto;
    box-shadow: -14.142px 14.142px 20px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    flex: 1;
    z-index: 999999999;
    border-radius: 8px;
}

.ForgotPassword_logo{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.ForgotPassword_logo h2{
    font-size: var(--font-l);
}

.ForgotPassword_logo p{
    font-size: var(--font-s);
    color: var(--dark4);
}

.ForgotPassword_content h2{
    font-size: 24px;
    font-weight: 600;
    text-align: center;
    margin-bottom: 40px;
    color: #333;
}

.ForgotPassword input{
    width: 100%;
    padding: 0 15px;
    height: 37px;
    border: 1px solid var(--dark7);
    color: var(--dark0);
    font-size: var(--font-xs);
    border-radius: 4px;
    font-family: var(--body-font);
    font-weight: 300;
    margin-bottom: 10px;
}

.ForgotPassword input:focus{
    outline: none;
}

.ForgotPassword_content{
    flex: 1;
    padding: 40px 40px;
    position: relative;

    display: flex;
    flex-direction: column;
    gap: 10px;
}

.ForgotPassword button{
    width: 100%;
    font-size: var(--font-xs);
    font-weight: 600;
    padding: 15px;
    border-radius: 6px;
    background-color: var(--dark0);
    color: var(--white);
}

.ForgotPassword button:hover{
    background-color: var(--yellow);
}


@media (max-width: 680px) {
    .ForgotPassword {
        flex-direction: column;
    }

    .ForgotPassword_content {
        flex: 1;
        width: 100%;
        padding: 60px 20px;
    }

    .ForgotPassword_logo h2{
        color: #333;
    }

    .ForgotPassword_logo p{
        color: #333;
    }

    .Login_bg{
        background: #fff;
    }
}
  
  