/*=============== GOOGLE FONTS ===============*/
  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

/*=============== VARIABLES CSS ===============*/
:root {
  /*========== Colors ==========*/
  --main-bg: #f6f6f8;
  --secondary-bg: #f5f5f5;
  --product-bg: #777777;
  --light-bg: #9999992a;

  --dark0: #000000;
  --dark1: #222222;
  --dark2: #293341;
  --dark3: #333333;
  --dark4: #696969;
  --dark5: #878787;
  --dark6: #999999;
  --dark7: #99999965;
  --dark8: #dedede;
  --white: #ffffff;
  --red0: #c91f28;
  --red1: #dc3545;
  --red2: #ec0101;
  --yellow: #ffa800;
  --cyan0: #20b2aa;
  --cyan1: #56cfe1;
  --blue: #0d6efd;
  --c-pink: #f39893;
  --c-blu-black0: #7c87a5;
  --c-orange: #f5a572;
  --c-green: #abd194;
  --c-cyan0: #53bbb4;
  --c-cyan1: #f5a572;
  --c-violet: #b88cbf;
  --c-blu-black1: #627a92;
  --c-sky-blue: #7ac2da;
  --c-deep-blue: #3079ac;
  --c-yellow: #f1c85e;
  --c-blu-black2: #84a1c1;






  /*========== Font and typography ==========*/
  --body-font: 'Poppins', sans-serif;
  --font-xxxs: 9px;
  --font-xxs: 11px;
  --font-xs: 14px;
  --font-s: 16px;
  --font-sm: 18px;
  --font-m: 20px;
  --font-l: 24px;
  --font-xl: 27px;
  --font-xxl: 34px;

  /* --body-font: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  --font-family-monospace: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace; */
  
  /*========== Breakpoints ==========*/
  --breakpoint-xs: 0;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1025px;
  --breakpoint-xxl: 1200px;
  --breakpoint-xxxl: 1360px;

  /*========== z index ==========*/
  --z-modal: 1000;
}

@media screen and (min-width: 968px) {
  /* :root {
    --big-font-size: 1.75rem;
    --normal-font-size: 1rem;
  } */
}

/*=============== BASE ===============*/
*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body{
  font-family: var(--body-font);
  background-color: var(--main-bg);
  color: var(--dark1);
  position: relative;
}

section{
  margin-top: 16px;
}

.hr{
  color: var(--dark5);
  background-color: var(--dark7);
  height: 1px;
  width: 100%;
  margin-top: 10px;
}

h1,h2,h3,h4,h5,h6,a,p,span,label,strike{
  margin: 0;
  padding: 0;
  color: var(--dark1);
  font-weight: 400;
  font-size: var(--font-xs);
  text-decoration: none;
}

button{
  cursor: pointer;
  border: none;
  outline: none;
}

img{
  max-width: 100%;
  height: auto;
}

.container{
  max-width: var(--breakpoint-xxxl);
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.icon{
  font-size: var(--font-l);
  color: var(--dark4);
  cursor: pointer;
}

.icon:hover{
  color: var(--dark5);
}

.active{
  color: var(--c-yellow);
  font-weight: 600;
  border-bottom: 2px solid var(--yellow);
}


.btn {
  position: relative;
  overflow: hidden;
  background-color: var(--dark0);
  color: var(--white);
  padding: 10px 14px;
  font-size: var(--font-xxs);
  font-weight: 600;
  border-radius: 5px;
  height: 40px;
}

.btn p{
  color: var(--white);
  font-size: var(--font-xxs);
  font-weight: 600;
}

.btn .icon {
  transition: all .3s;
  transform: translateY(50px);
}
.btn:hover .icon {
  transform: translateY(0);
}

.btn p {
  transition: all .3s;
  transform: translateY(-18px);
}

.btn:hover p {
  transform: translateY(-50px);
}









/*=============== another button ===============*/
.btns{
  background-color: var(--yellow);
  color: var(--white);
  padding: 10px 14px;
  font-size: var(--font-s);
  font-weight: 500;
  border-radius: 5px;
  transition: background-color .3s cubic-bezier(0.39, 0.575, 0.565, 1);
}


.btns:hover{
  background-color: var(--dark0);
}

.dag{
  width: 70px;
  height: 3px;
  background-color: var(--yellow);
  /* margin-top: 10px; */
}